body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #38A6E5;
}

h1 {
  color: #CA4C16;
  font-size: 50px;
  margin: 10px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  color: #E8F1F2;
}

main {
  flex: 1 0 auto;
  color: #E8F1F2;
  font-size: 20px;
}

.card {
  display: flex;
  background-color: #2C2726;
  padding: 10px;
  margin: 10px;
  width: 22em;
}

.button-div {
  width: 12em;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

label {
  color: #CA4C16;
  padding : 10px;
}

footer.page-footer {
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
}

footer {
  color: #E8F1F2;
}

th, td {
  color: #CA4C16;
}